.App {
  font-family: sans-serif;
  text-align: center;
}

[data-reach-accordion-item] {
  background: #fafafa;
}

[data-reach-accordion-button] {
  width: 100%;
  padding: 10px;
  background: #e25f56;
  color: #fafafa;
  cursor: pointer;
  border: none;
}

[data-reach-accordion-panel] {
  padding: 20px;
}
